<html>
    <head>
        <link rel="stylesheet" href="../css/master.css">
    </head>
    <body>
        <header>

        </header>
        <section id="app">
            <div class="introduction-video">
                <video src="../assets/flower.mp4" class="intro-video" controls loop></video>
                <div class="introduction-text">Some text</div>
            </div>
        </section>
        <footer>
            <div class="footer-info float-left">Powered by <span>Floratechno Incorporated</span></div>
            <div class="footer-info float-right text-align-right"><span className="copyright-info">©2018 India</span></div>
        </footer>
    </body>
</html>