<html>
<head>
    <meta charset="UTF-8">
    <title>FloraTechno</title>
    <meta name="viewport" content="width=device width, initial-scale= 1.0">
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<section id='contact'></section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw9iQmS3YSuknIGLIVUODEEvBURDNCW2U&callback=newMap" type="text/javascript"></script>
<script src="/js/build/floratechnocontact.js" type="text/javascript"></script>
<script type="text/javascript">
    var isAndroid = navigator.userAgent.toLowerCase().indexOf("android") > -1; //&& ua.indexOf("mobile");
    if(isAndroid) {
        document.write('<meta name="viewport" content="width=device-width,height='+window.innerHeight+', initial-scale=1.0">');
    }
</script>
<script>


    function newMap() {
        // Styles a map in night mode.
        var myLatLng = {lat: 18.4912, lng: 73.9095};
        var map = new google.maps.Map(document.getElementById('map'), {
            center:myLatLng ,
            zoom: 15,

        });
        var contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading">Floratechno Solution Pvt.Ltd</h1>'+
                '<div id="bodyContent">'+
                '<p> Astha Seagull Jambhulakar Chowk Wanowrie Pune, </p>'+
                '</div>'+
                '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 400,

        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'FLORATECHNO'
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });

    }
</script>
</html>