div, section, svg, body{
    box-sizing: border-box;
}
@font-face{
    font-family: "HelveticaNeue-Light";
    src: url("../assets/HelveticaNeue-Light.OTF");
}
@font-face{
    font-family: "Arial Black";
    src: url("../assets/Arial Black.TTF");
}
@font-face{
    font-family: Verdana;
    src: url("../assets/Verdana.TTF");
}
@font-face{
    font-family: "Helvetica Neue";
    src: url("../assets/Helvetica Neue.OTF");
}
@font-face{
    font-family: PORKYS;
    src: url("../assets/PORKYS.TTF");
}
@font-face{
    font-family: TektonPro-Bold;
    src: url("../assets/TektonPro-Bold.otf");
}
@font-face{
    font-family: "andalemo";
    src: url("../assets/andalemo.TTF");
}

html, body{
    font-family: "Helvetica Neue";
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}
/*svg style css for flower*/
.flora-st0{opacity:0.7;}
.flora-st1{fill:#FFE547;}
.flora-st2{fill:#F3B59D;}
.flora-st3{opacity:0.7;fill:#EF8F79;fill-opacity:0.41;}
.flora-st4{opacity:0.54;}
.flora-st5{fill:#F0A9BE;}
.flora-st6{opacity:0.4;}
.flora-st7{fill:#F9E1E8;}
/*end style css for flower*/

/*svg style css for full flower*/
.fullflora-st0{fill:none;stroke:#FFAC94;stroke-width:5;stroke-miterlimit:10;}
.fullflora-st1{opacity:0.7;}
.fullflora-st2{fill:#FFE547;}
.fullflora-st3{fill:#F3B59D;}
.fullflora-st4{opacity:0.7;fill:#EF8F79;fill-opacity:0.41;}
.fullflora-st5{opacity:0.54;}
.fullflora-st6{fill:#F0A9BE;}
.fullflora-st7{opacity:0.4;}
.fullflora-st8{fill:#F9E1E8;}
/*end style css for full flower*/

/*mobile svg css*/
.mobile-st0{fill: #000000;}
.mobile-st1{fill:#FFFFFF;}
/*end mobile svg css*/

/*desktop svg css*/
.desktop-st0 {fill: #ffffff;}
.desktop-st1{fill: #000000;}
.desktop-st2{fill:#FFFDFD;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
/*end desktop svg css*/

/*cloud svg css*/
.cloud-st0{fill: #ffffff;;}
.cloud-st1{fill: #000000;}
/*end cloud svg css*/
.header-section {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.98);
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0px 1px 25px -1px #575757;
}
.logo-section {
    width: 250px;
    height: 100%;
    float: left;
    display: inline-block;
}
.flower-svg {
    width: 50px;
    display: inline-block;
    padding: 5px;
    float: left;
}
.logo-text {
    width: calc(100% - 50px);
    display: block;
    float: left;
    margin: auto;
    padding-top: 12px;
}

.flora-text {
    font-size: 20px;
    color: rgb(242, 159, 65);
    font-family: PORKYS;
}
.techno-text {
    font-size: 20px;
    color: orange;
    font-family: Verdana;
}
.header-options {
    width: calc(100% - 250px);
    display: inline-block;
    height: 100%;
    text-align: right;
    line-height: 50px;
}
.header-options-span{
    margin: 0 20px;
    font-family: "andalemo";
    font-size: 18px;
}
/*.serach-section {*/
    /*width: 33.33%;*/
    /*height: 100%;*/
    /*float: left;*/
    /*padding-top: 15px;*/
    /*display: inline-block;*/
    /*border-right: 2px solid orange;*/
/*}*/
/*.search-text {*/
    /*font-size: 15px;*/
    /*padding: 10px;*/
/*font-family: "andalemo";*/
/*}*/
/*.search-icon {*/
    /*float: right;*/
    /*padding: 0 15px;*/
    /*font-size: 20px;*/
/*}*/
.login-section {
    width: 30%;
    height: 100%;
    padding: 15px;
    float: left;
}
.login-text {
    font-family: "Helvetica Neue";
    font-size: 15px;
    float: right;
    margin-right: 25px;
    font-family: "andalemo";
}
#video-container {
    width: 100%;
    overflow: hidden;
    height: 758px;
    display: block;
}
.introduction-video{
    height: 100%;
    position: relative;
    width: 100%;
}
.intro-video{
    height: auto;
    width: 100%;
    z-index: -1;
}
.introduction-text{
    position: relative;
    top: 30%;
    left: 12%;
    display: block;
}
.video-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    /*background: url(../assets/overlay.png);*/
    top: 0;
    left: 0;
}
.grow-heading {
    font-family: "Arial Black";
    font-size: 7vw;
    color: rgb(242, 159, 65);
    position: relative;
    top: 50%;
    /*width: 100px;*/
    /*margin: 0 auto;*/
    border-right: 2px solid transparent;
    /*text-align: center;*/
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.anim-typewriter{
     animation: typewriter 3s steps(4, end)  alternate both, blinkTextCursor 3s steps(4, end)  alternate;
 }
@keyframes typewriter{
    0%{width: 0;}
    50%{width: 330px;}
    75%{width: 210px;}
    90%{width:90px}
    100%{width: 0;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: rgba(255,255,255,.75);}
}
.text-align-right{
    text-align: right;
}
.create-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    position: relative;
    background: linear-gradient(to bottom left, rgba(255, 192, 203, 0.6509803921568628), rgba(255, 165, 0, 0.4392156862745098) 40%, rgb(249, 241, 195) 70%, rgba(255, 192, 203, 0.71) 75%);
}
.heading-txt {
    width: 25%;
    height: 35%;
    position: relative;
    float: left;
    left: 20%;
    top: 35%;
}
.first-heading {
    font-family: HelveticaNeue-Light;
    font-size: 4vw;
    display: block;
    margin: 0 20px;
    color: rgb(174, 174, 174);
}
/*.heading {*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*top:0;*/
/*}*/
.second-heading {
    font-family: "Helvetica Neue";
    font-size: 7vw;
    color: orange;
    position: relative;
    width: 130px;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
    display: inline-block;
}
.square-icon {
    font-size: 15px;
    color: orange;
}
.anim-createwriter{
    animation: createwriter 4s steps(6, end) 3s 1 normal both, blinkTextCursor 4s steps(6, end) 3s  normal;
}
@keyframes createwriter{
    0%{width: 0;}
    100%{width: 400px;}
}
.menu-bar {
    width: 100%;
    height: 40px;
    list-style-type: none;
    /* float: right; */
    position: relative;
    /*text-align: center;*/
}
.menu {
    overflow: hidden;
    list-style-type: none;
    margin: auto;
    padding: 0px;
    display: inline-flex;
}
.menu-list span {
    text-decoration: none;
    padding: 14px;
    display: block;
    float: left;
    font-family: "andalemo";
    font-size: 17px;
}
.anim-blink{
    animation: blink 6s steps(4, end) 6s normal both, blinkTextCursor 6s steps(4, end) 3s  normal;
}
@keyframes blink{
    0%{width: 0;}
    100%{width: 375px;}
}
.fullflower-svg-css {
    height: 100%;
    position: absolute;
    display: block;
    width: 100%;
}
.company-details-container {
    width: 100%;
    height: auto;
}
.company-details-section {
    width: 1200px;
    height: 500px;
    margin: auto;
    display: block;
    position: relative;
}
.company-thumbnail {
    width: 400px;
    height: 500px;
    padding: 15px;
    display: inline-block;
    float: left;
}
.circle-section {
    width: 100%;
    height: 200px;
    padding-top: 25px;
    line-height: 30px;
    text-align: center;
    display: block;
}
.filling-line {
    width: 255px;
    height: 4px;
    position: absolute;
    top: 110px;
    left: 275px;
    background: rgb(242, 159, 65);
    z-index: -1;
    /*display: none;*/
    /*transition: width 2s;*/
}
.point-general {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f29f41;
    position: absolute;
    left: 389px;
    top: 102px;
    transition: all 0.4s 0.3s;
    /*display: none;*/
    /*-webkit-transition: all 0.4s 0.3s;*/
}
.filling-line-1 {
    width: 255px;
    height: 4px;
    position: absolute;
    top: 110px;
    left: 680px;
    background: #f29f41;
    z-index: -1;
    /*display: none;*/
    /*transition: width 2s;*/
}
.point-general-1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f29f41;
    position: absolute;
    left: 795px;
    top: 102px;
    transition: all 0.4s 0.3s;
    /*display: none;*/
    /*-webkit-transition: all 0.4s 0.3s;*/
}
.company-thumbnail:hover .filling-line {
    width: 225px;
    display: block;
    /*-webkit-transition: all 0.6s 0.4s;*/
}
/*.company-thumbnail:hover .point-general {*/
    /*display: block;*/
/*}*/
.circle {
    width: 150px;
    height: 150px;
    border-radius: 80px;
    background: #ffffff;
    display: block;
    position: relative;
    box-shadow: 0px 6px 22px -1px #2f2e2e;
    margin: auto;
}
/*.company-thumbnail-tra nsform {*/
    /*display: inline;*/
    /*width: 420px;*/
    /*height: 600px;*/
/*}*/
.company-thumbnail:hover {
    transform: scale(1.1, 1.1) ;
    cursor: pointer;
    transition: all 1s;
}
.first-company-txt {
    font-family: "Arial Black";
    font-size: 28px;
    color: rgb(242, 159, 65);
    display: block;
    padding-top: 50px;
}
.second-company-txt {
    font-family: HelveticaNeue-Light;
    font-size: 15px;
    padding: 5px 15px;
    text-align: justify;
    font-size: 13px;
    margin: auto;
    font-family: Verdana;
    color: rgb(83, 88, 95);
}
.text-section {
    width: 100%;
    height: 285px;
    display: block;
    /* margin: auto; */
    padding: 20px 10px;
}
.txt-alignment {
    padding: 5px 15px;
    text-align: justify;
    font-size: 14px;
    margin: auto;
    font-family: Verdana;
    color: rgb(83, 88, 95);
}
.services-container {
    width: 100%;
    height: auto;
    margin: auto;
    /*background: linear-gradient(to top right, rgb(235, 147, 160), rgba(241, 188, 224, 0.28)30%, rgb(238, 240, 207), rgba(254, 245, 181, 0.76), rgba(255, 236, 115, 0.61) 65%, rgb(250, 220, 151) 70%, rgba(231, 116, 130, 0.36) 76%, rgba(187, 214, 214, 0.68));*/
}
.services-title {
    width: calc(100% - 5em);
    height: 120px;
    padding: 10px;
    line-height: 30px;
    margin-left: 5em;
}
.service-txt {
    font-family: "Arial Black";
    font-size: 35px;
    color: rgb(255, 165, 0);
    display: block;
    padding-top: 20px;
    margin-bottom: 10px;
}
.offer-txt {
    font-family: HelveticaNeue-Light;
    font-size: 20px;
    color: rgba(128, 128, 128, 0.64);
    margin: 0 40px;
}
.services-description {
    width: 1210px;
    height: 420px;
    margin: auto;
}
.app-service-section {
    width: 400px;
    height: 500px;
    margin: auto;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.app-service-wrapper {
    width: 360px;
    height: 385px;
    margin: auto;
    display: block;
    cursor: pointer;
    perspective: 1500;
}
.app-service-wrapper:hover {
    transform: rotateY(180deg);
}
.app-service-wrapper.mobile-svg {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
app-service-wrapper.service-text {
    background: #eaeaed;
    color: #0087cc;
    line-height: 150px;
    text-align: center;
    transform: rotateY(180deg);
}
.service-text {
    margin: 0;
    font-family: Verdana;
    text-align: justify;
    font-size: 13px;
    /*padding: 10px;*/
}
.mobile-svg {
    height: 295px;
    display: block;
    padding-top: 40px;
    margin: auto;
}
.desktop-svg {
    width: 270px;
    display: block;
    margin: auto;
    padding-top: 50px;
}
.cloud-svg {
    width: 275px;
    display: block;
    margin: auto;
    padding-top: 45px;
}
.flip-container {
    cursor: pointer;
    height: 400px;
    position: relative;
    width: 33.33%;
    float: left;
}
.card {
    height: 400px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 350px;
}
.card:hover {
    transform: rotateY(180deg);
}
.card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 375px;
    position: absolute;
    overflow: hidden;
    width: 275px;
}
.card .back {
    /*background: #f2f2fe;*/
    transform: rotateY(180deg);
    padding: 20px;
    font-family: Verdana;
    text-align: justify;
    font-size: 15px;
    box-shadow: -3px 8px 25px -4px #575757;
}
.svg-container {
    width: 20%;
    background: #F0A9BE;
}

.see-more-txt {
    font-family: andalemo;
    font-size: 15px;
    width: 100%;
    display: inline-block;
    text-align: center;
    /*padding-top: 25px;*/
}
.team-container {
width: 100%;
display: block;
margin: auto;
height: auto;
overflow: auto;
}
.team-text {
width: 20%;
height: 550px;
float: left;
display: inline-block;
text-align: center;
}
.team-txt {
font-family: "Arial Black";
font-size: 45px;
color: rgb(255, 165, 0);
display: block;
padding-top: 5em;
}
.behind-txt {
font-family: HelveticaNeue-Light;
font-size: 18px;
color: rgba(128, 128, 128, 0.64);
}
.team-photos-section {
width: 80%;
height: 550px;
float: right;
display: flex;
}
.team-photos-wrapper {
width: 95%;
height: 300px;
margin: auto;
display: block;
display: flex;
align-items: center;
}
.photos-thumbnail {
width: 20%;
height: 300px;
float: left;
display: inline-block;
}
.photos {
background-image: url(../assets/img.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 85%;
height: 300px;
display: block;
margin: auto;
position: relative;
transition: 0.3s ease;
cursor: pointer;
filter: grayscale(100%);
}
/*.team-photos-wrapper:hover .photos-thumbnail div{*/
    /*filter: grayscale(100%);*/
 /*}*/
.photos-thumbnail .photos:hover{
    transform: scale(1.2, 1.2); /** default is 1, scale it to 1.5 */
    opacity: 1;
    filter: none !important;
}
.motto-container {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.motto-txt-section {
    width: calc(100% - 10em);
    height: 100px;
    margin-left: 10em;
}
.motto-txt {
    font-family: "Arial Black";
    font-size: 35px;
    color: rgb(242, 159, 65);
    display: block;
    padding-top: 12px;
    margin: 0 20px;
    margin-bottom: 8px;
}
.ceo-txt {
    font-family: HelveticaNeue-Light;
    font-size: 18px;
    color: rgb(83, 88, 95);
    margin: 0 35px;
}
.motto-description {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}
.pic-description {
    width: 80%;
    height: 385px;
    margin: auto;
    display: block;
    border: 2px solid rgb(227, 78, 98);
}
.img-description {
    width: 60%;
    height: 40%;
    float: left;
    font-family: Verdana;
    margin: auto;
    padding: 20px;
    text-align: justify;
    font-size: 15px;
}
.image-section {
    float: left;
    width: 30%;
    height: calc(100% - 35px);
    margin-top: 35px;
}
.image {
    width: 300px;
    height: 220px;
    background-image: url(../assets/ceo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.ceo-name {
    color: #E77482;
    font-family: "Arial Black";
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 20px;
}
.quote-txt {
    width: 60%;
    height: 100px;
    border: 2px solid rgb(227, 78, 98);
    position: absolute;
    top: 12em;
    display: table;
    margin-left: 70px;
    z-index: -1;
    text-align: center;
    line-height: 6em;
}
.single-quote {
    text-align: center;
    display: inline-flex !important;
    font-size: 20px !important;
}
.quote {
    font-size: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: "Arial Black";
    color: rgb(242, 159, 65);
    padding: 0 20px;
}
.company-info-container {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 15px;
    /*background: linear-gradient(to top right, rgb(235, 147, 160), rgba(241, 188, 224, 0.28)30%, rgb(238, 240, 207), rgba(254, 245, 181, 0.76), rgba(255, 236, 115, 0.61) 65%, rgb(250, 220, 151) 70%, rgba(231, 116, 130, 0.36) 76%, rgba(187, 214, 214, 0.68));*/
}
.company-info-heading {
    width: 90%;
    height: 120px;
    display: block;
    text-align: center;
    margin: auto;
    background: white;
}
.company-info-section {
    width: 100%;
    height: calc(100% - 135px);
    margin: auto;
    display: block;
}
.company-info-section-wrapper {
    width: 90%;
    height: 100%;
    margin: auto;
    display: block;
    background: white;
    position: relative;
}
.company-info-thumbnail {
    width: 80%;
    height: 140px;
    display: block;
    margin: auto;
    position: relative;
}
.listener-svg {
    width: 15%;
    padding: 2px;
    transform: rotate(-25deg);
    /* float: left; */
    position: absolute;
    bottom: -12px;
}
.right-company-txt {
    width: 78%;
    float: right;
    padding: 20px 15px;
}
.company-heading-txt {
    font-size: 18px;
    color: #E77482;
    font-family: "Arial Black";
    margin: 5px;
}
.sub-company-heading-txt {
    font-size: 13px;
    padding: 0 5px;
    color: rgb(83, 88, 95);
    font-family: Verdana;
    text-align: justify;
    display: block;
}
.left-company-txt {
    width: 86%;
    float: left;
    padding: 20px 15px;
}
.deliver-svg {
    width: 14%;
    /* float: right; */
    transform: rotate(115deg);
    position: absolute;
    right: 0;
}
.contact-container {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 80px 0;
    position: relative;
    /*background: linear-gradient(to bottom left, rgba(255, 192, 203, 0.6509803921568628), rgba(255, 165, 0, 0.4392156862745098) 40%, rgb(249, 241, 195) 70%, rgba(255, 192, 203, 0.71) 75%);*/
}
.innovation-svg {
    width: 13%;
    float: left;
    transform: rotate(50deg);
    margin-left: 55px;
}
.built-svg {
    width: 11%;
    position: absolute;
    right: 0;
    top: 10px;
}
.bloom-svg {
    width: 7%;
    float: left;
    transform: rotate(-8deg);
    margin-left: 6em;
    position: absolute;
    top: 20px;
}
.contact-section {
    width: 80%;
    height: 480px;
    margin: auto;
    display: block;
    box-shadow: 1px 3px 16px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
}
.contact-heading {
    width: calc(100% - 30px);
    height: 135px;
    margin-left: 30px;
    padding: 10px;
    padding-top: 25px;
}

.contact-heading-txt {
    font-size: 32px;
    font-family: "Arial Black";
    color: #F29F41;
    display: block;
    margin: 0 10px;
}
.contact-heading-txt-second {
    font-size: 17px;
    font-family: HelveticaNeue-Light;
    color: rgb(83, 88, 95);
    margin: 0 35px;
}
.contact-us-section {
    width: 100%;
    height: 345px;
}
.contact-wrapper {
    width: 85%;
    height: 115px;
    margin: auto;
    display: block;
    padding: 10px;
}
.contact-us-left-section {
    width: 20%;
    float: left;
    display: block;
    text-align: center;
}
.left-contact-txt {
    font-size: 18px;
    /* font-family: "Helvetica Neue"; */
    color: #F29F41;
    display: block;
    margin: 0 10px;
    font-family: "Arial Black";

}
.contact-us-right-section {
    width: 70%;
    float: right;
    margin: auto;
}
.insert-txt {
    font-size: 12px;
    font-family: "Helvetica Neue";
    color: rgb(83, 88, 95);
    display: block;
    margin: 0 15px;
}
.fa-size {
    font-size: 28px !important;
}
.social-media-connect {
    width: 25%;
    height: 165px;
    box-shadow: 1px 3px 16px 0px rgba(0, 0, 0, 0.4);
    bottom: 25px;
    /*background: linear-gradient(to top right, rgba(204, 0, 255, 0.31) 26%, rgb(255, 192, 203) 34%, rgba(238, 205, 43, 0.65) 65%, rgba(252, 183, 55, 0.79) 80%);*/
    position: absolute;
    right: 70px;
    background: #ffffff;
}
.social-media-wrapper {
    overflow: auto;
    display: block;
    text-align: center;
    margin: 25px auto;
}
.social-media-wrapper .social-media-icons {
    overflow: auto;
    padding-right: 30px;
    display: inline-block;
    margin-bottom: 10px;
}
.social-media-wrapper .social-media-icons i {
    background: rgb(83, 88, 95);
    color: #fff;
    width: 50px;
    height: 40px;
    border-radius: 50px;
    font-size: 25px;
    margin-right: 10px;
    padding-top: 15%;
}

.footer-info{
    display: inline-block;
    width: 50%;
    font-size: 10px;
    height: 28px;
    line-height: 28px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
