div, section, svg{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}
@font-face{
    font-family: "HelveticaNeue-Light";
    src: url("../assets/HelveticaNeue-Light.otf");
}
@font-face{
    font-family: "Arial Black";
    src: url("../assets/Arial Black.ttf");
}
@font-face{
    font-family: Verdana;
    src: url("../assets/Verdana.ttf");
}
@font-face{
    font-family: "Helvetica Neue";
    src: url("../assets/Helvetica Neue.otf");
}
@font-face{
    font-family: PORKYS;
    src: url("../assets/PORKYS.ttf");
}
@font-face{
    font-family: TektonPro-Bold;
    src: url("../assets/TektonPro-Bold.otf");
}
@font-face{
    font-family: "andalemo";
    src: url("../assets/andalemo.ttf");
}

html, body{
    font-family: "Helvetica Neue";
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}
.flora-btn{
    display: inline-block;
    margin: auto;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    float: left;
    background: #f29f41;
}
.flora-loader{
    margin: auto;
    width: 18%;
}
.digital-logo0{
    stroke: #000000; stroke-width: 4px;
}
.digital-logo1{
    stroke: #000000; stroke-width: 3px;
}
.digital-logo2{
    stroke: #000000; stroke-width: 2px;
}
/*svg style css for flower*/
.flora-st0{opacity:0.7;}
.flora-st1{fill:#FFE547;}
.flora-st2{fill:#F3B59D;}
.flora-st3{opacity:0.7;fill:#EF8F79;fill-opacity:0.41;}
.flora-st4{opacity:0.54;}
.flora-st5{fill:#F0A9BE;}
.flora-st6{opacity:0.4;}
.flora-st7{fill:#F9E1E8;}
.header-section .st0{fill:#183C47;}
.header-section .st1{enable-background:new    ;}
.header-section .st2{fill:#DE5B38;}
.header-section .st3{fill:#133346;}
#floraService .header-section .st0{fill:#E6570F;}
#floraService .header-section .st1{fill:#1C3650;}
.flora-logo{
    position: absolute;
    top: 0;
    bottom: 40%;
    height: 85%;
    width: 86%;
    right: 0;
    margin: auto;
    left: 0;
}
/*end style css for flower*/

/*svg style css for full flower*/
.fullflora-st0{fill:none;stroke:#FFAC94;stroke-width:5;stroke-miterlimit:10;}
.fullflora-st1{opacity:0.7;}
.fullflora-st2{fill:#FFE547;}
.fullflora-st3{fill:#F3B59D;}
.fullflora-st4{opacity:0.7;fill:#EF8F79;fill-opacity:0.41;}
.fullflora-st5{opacity:0.54;}
.fullflora-st6{fill:#F0A9BE;}
.fullflora-st7{opacity:0.4;}
.fullflora-st8{fill:#F9E1E8;}
/*end style css for full flower*/

/*mobile svg css*/
.mobile-st0{fill: #000000;}
.mobile-st1{fill:#fbfbfb;}
/*end mobile svg css*/

/*desktop svg css*/
.desktop-st0 {fill: #fbfbfb;}
.desktop-st1{fill: #000000;}
.desktop-st2{fill:#FFFDFD;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
/*end desktop svg css*/

/*cloud svg css*/
.cloud-st0{fill: #fbfbfb;;}
.cloud-st1{fill: #000000;}
/*end cloud svg css*/

.digital-market-st0 {
    stroke: #000000;
    stroke-width: 3px;
}
.digital-market-st1{
    stroke: #000000;
    stroke-width: 4px;
}
.digital-market-st2{
    stroke: #000000;
    stroke-width: 2px;
}
.nav-bar {
    overflow: hidden;
    list-style-type: none;
    margin: auto;
    padding: 0px;
    /*padding-top: 10px;*/
    display: inline-flex;
}
/*#app .header-section {*/
    /*width: 100%;*/
    /*height: 150px;*/
    /*!*background: #0000002e;*!*/
    /*position: fixed;*/
    /*transition:height 0.3s ease-out;*/
    /*top: 0;*/
    /*z-index: 11;*/
    /*!*box-shadow: 0 1px 25px -1px #575757;*!*/
/*}*/

.header-section {
    width: 100%;
    height: 150px;
    background: #0000002e;
    position: fixed;
    transition:height 0.3s ease-out;
    top: 0;
    z-index: 11;
    /*box-shadow: 0 1px 25px -1px #575757;*/
}
#app .header-section {
    width: 100%;
    height: 150px;
background: none;
    position: absolute;
    transition: height 0.3s ease-out;
    bottom: 0;
    top: inherit;

    z-index: 1111;
    /* box-shadow: 0 1px 25px -1px #575757; */
}
#app .header-section:hover{
    background: #0000002e;
}
.clear-both{
    clear: both;
}
/*#app .header-background {*/
    /*background: #fff;*/
    /*height: 100px;*/
    /*position: fixed;*/
    /*top:0;*/
/*}*/
.logo-section {
    width: 10%;
    height: 100%;
    /* float: left; */
    /* left: -100vw; */
    display: inline-block;
}
.background-krishna{
    background-image: url("/assets/krishna.png");
}
/*.photos-thumbnail .photos:hover.background-krishna{*/
    /*background-image: url("/assets/krishna_o-min.JPG");*/
/*}*/
/*.background-barkha{*/
    /*background-image: url("/assets/krishna.png");*/
/*}*/
/*.photos-thumbnail .photos:hover.background-krishna{*/
    /*background-image: url("/assets/krishna_o-min.JPG");*/
/*}*/
.add-left{
 left:-100vw;
}
.left-animation{
    left:0;
    transition: all 10s ease-in;
}

.flower-svg {
    width: 100%;
    display: inline-block;
    padding: 5px;
    float: left;
    position: relative;
    height: 100%;
}
.logo-text {
    width: calc(100% - 50px);
    display: block;
    float: left;
    margin: auto;
    padding-top: 12px;
}

.flora-text {
    font-size: 20px;
    color: rgb(242, 159, 65);
    font-family: PORKYS;
}
.techno-text {
    font-size: 20px;
    color: orange;
    font-family: Verdana;
}
#app .header-options-right.header-span-background {
    color: #185795;
}
.header-options {
    width: calc(45% - 30px);
    display: inline-block;
    height: 100%;
    text-align: center;
    line-height: 150px;
    float: right;
    color: #fff;
}
.bind-header{
    height: 100%;
    margin: auto;
    width: 65%;

}
.padding-35px{
    padding: 35px;
}
.header-a{
    padding: 35px;
    clear: both;
    line-height: 100px;
    color: #185795
}
.header-options-right {
    width: 45%;
    display: inline-block;
    height: 100%;
    text-align: center;
    line-height: 150px;
    float: left;
    color: #fff;

}
#app .header-options{
    color: white;
}

#app .header-options.header-span-background{
    color: #185795;
}

.header-span-background{
    font-weight: 500;
    line-height:100px;

    cursor: pointer;

}
.header-section-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("/assets/b69ca8d5-411f-4548-84fe-75923d9c1323.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.header-options-span{
    margin: 0 15px;
    cursor: pointer;
    font-family: "andalemo";
    position: relative;
    font-size: 17px;
    /*line-height: 99px;*/

}
.slide-no{
    position: absolute;
    width: 10%;
    height: 23%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.slide-no span{
    display: inline-block;
    text-align: center;
    height: 18px;
    color: white;
    border: 1px solid #979797;
    font-size: 20px;
    width: 18px;
    margin: 4px 12px;
    cursor: pointer;
    transition: border-width 0.3s linear;
    border-radius: 50%;
}
.orange-color{
    color: #e46224;
}
.slide-no span:hover{
    background: #e46224;
    border: 1px solid transparent;
}
.arrow{

}
.arrow a:nth-child(1){
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    margin: auto;
    height: 19%;
    right: 24px;
}
.arrow a:nth-child(2){
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    margin: auto;
    height: 19%;
    left: 8px;
}
.arrow a i{
    color: white;
    font-size: 50px;
    cursor: pointer;
}
.slide-no span.yellow-border{
    background: #e46224;
    border: 1px solid transparent ;
}
.login-section {
    width: 30%;
    height: 100%;
    padding: 15px;
    float: left;
}
.span-border{
    position: absolute;
    width: 0;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;
    border-bottom: 2px solid #e6570f;
    transition:width 0.6s linear;
}
.header-options-span:hover .span-border{
    width: 100%;
}
.login-text {
    font-family: "Helvetica Neue";
    font-size: 15px;
    float: right;
    margin-right: 25px;
    font-family: "andalemo";
}
#video-container {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: block;

}
.introduction-video{
    height: 100%;
    position: relative;
    width: 100%;
}
.intro-video{
    height: auto;
    width: 100%;
    z-index: -1;
}
.introduction-text{
    width: 100vw;
    height: 100%;
    position: relative;
    float: left;
    left:0;
    background-size: cover;
    background-repeat: no-repeat;
    transition: left 0.3s linear;
}
.video-overlay{
    height: 100%;
    width: 300vw;
    overflow: hidden;
    position: relative;
    /* background: url(../assets/overlay.png); */
    overflow-x: auto;
}
.first-background{
    background-image: url("../assets/first_bg.jpg");
}
.sec-background{
    background-image: url("https://icdn7.digitaltrends.com/image/macbook-air-11-inch-1500x1000-1500x1000.jpg?ver=1");
}
.third-background{
    background-image: url("/assets/b69ca8d5-411f-4548-84fe-75923d9c1323.jpg");
}
.text-div{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    height: 300px;
    right: 0;
    width: 50%;
    color: white;
    background: rgba(0, 0, 0, 0.58);
    display: flex;
    flex-direction: column;
}
.text-div-h5{
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}
.show-h5{
    animation:headeranimation 0.8s ease-in;
}
.h5-transition{
   animation:headeranimation 0.8s ease-in;
}
@keyframes headeranimation {
    from{
        top:-55px;
        opacity: 0;
    }
    to{
        top:0;
        opacity: 1;
    }
}
.text-div-p{
    font-size: 1.7em;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}
.show-p{
    animation:panimation 0.9s ease-in ;
}
.p-transition{
    animation:panimation 0.9s ease-in ;
}
@keyframes panimation {
    from{
        left:-50px;
        opacity: 0;
    }
    to{
        left:0;
        opacity: 1;
    }
}
.grow-heading {
    font-family: "Arial Black";
    font-size: 7vw;
    color: rgb(242, 159, 65);
    position: relative;
    top: 50%;
    /*width: 100px;*/
    /*margin: 0 auto;*/
    border-right: 2px solid transparent;
    /*text-align: center;*/
    white-space: nowrap;
    overflow: hidden;
    display: block;
}


.text-align-right{
    text-align: right;
}
.create-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    position: relative;
    background: linear-gradient(to bottom left, rgba(255, 192, 203, 0.6509803921568628), rgba(255, 165, 0, 0.4392156862745098) 40%, rgb(249, 241, 195) 70%, rgba(255, 192, 203, 0.71) 75%);
}
.heading-txt {
    width: 25%;
    height: 35%;
    position: relative;
    float: left;
    left: 20%;
    top: 35%;
}
.first-heading {
    font-family: HelveticaNeue-Light;
    font-size: 4vw;
    display: block;
    margin: 0 20px;
    color: rgb(174, 174, 174);
}
.div-align{
    float: left;
    width: 94%;
    position: relative;
}
.div-transition{
    animation:divanimation 0.9s ease-in ;
}
@keyframes divanimation {
    from{
        right:-70px;
        opacity: 0;
    }
    to{
        right:0;
        opacity: 1;
    }
}
.div-align section{
    display: inline-block;
    margin: 16px 11px 0 11px;
    width: calc(33.33% - 22px);
    text-align: center;
}
#animate-div1 section{
    display: inline-block;
    margin: 16px 11px 0 11px;
    width:14%;
}
#animate-div1{
    float: right;
    width:98%;
}
a{
    text-decoration: none;
    color: inherit;
}
.div-align i{
    color: #e46224;
    font-size: 15px;
    padding: 0 4px
}

.third-text-div {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    height: 25%;
    right: 0;
    width: 72%;
}
.third-text-div span{
    border-bottom: 2px solid #e46224;
}
.third-text-div-h5 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    position: relative;
    color: #000;

}
.second-heading {
    font-family: "Helvetica Neue";
    font-size: 7vw;
    color: orange;
    position: relative;
    width: 130px;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
    display: inline-block;
}
.square-icon {
    font-size: 15px;
    color: orange;
}

.menu-bar {
    width: 100%;
    height: 40px;
    list-style-type: none;
    /* float: right; */
    position: relative;
    /*text-align: center;*/
}
.menu {
    overflow: hidden;
    list-style-type: none;
    margin: auto;
    padding: 0px;
    display: inline-flex;
}
.menu-list span {
    text-decoration: none;
    padding: 14px;
    display: block;
    float: left;
    font-family: "andalemo";
    font-size: 17px;
    cursor: pointer;
}
.anim-blink{
    animation: blink 6s steps(4, end) 6s normal both, blinkTextCursor 6s steps(4, end) 3s  normal;
}
@keyframes blink{
    0%{width: 0;}
    100%{width: 380px;}
}
.fullflower-svg-css {
    height: 100%;
    position: absolute;
    display: block;
    width: 100%;
}
.company-details-container {
    width: 100%;
    height: auto;
    padding-top: 150px;
}
.company-details-section {
    width: 1200px;
    height: 500px;
    margin: auto;
    display: block;
    position: relative;
}
.company-thumbnail {
    width: 400px;
    height: 450px;
    padding: 15px;
    display: inline-block;
    float: left;
}
.circle-section {
    width: 100%;
    height: 200px;
    padding-top: 25px;
    line-height: 30px;
    text-align: center;
    display: block;
}
.filling-line {
    width: 255px;
    height: 4px;
    position: absolute;
    top: 110px;
    left: 275px;
    background: rgb(242, 159, 65);
    z-index: -1;
    /*display: none;*/
    /*transition: width 2s;*/
}
.point-general {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f29f41;
    position: absolute;
    left: 389px;
    top: 102px;
    transition: all 0.4s 0.3s;
    /*display: none;*/
    /*-webkit-transition: all 0.4s 0.3s;*/
}
.filling-line-1 {
    width: 255px;
    height: 4px;
    position: absolute;
    top: 110px;
    left: 670px;
    background: #f29f41;
    z-index: -1;
    /*display: none;*/
    /*transition: width 2s;*/
}
.point-general-1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f29f41;
    position: absolute;
    left: 795px;
    top: 102px;
    transition: all 0.4s 0.3s;
    /*display: none;*/
    /*-webkit-transition: all 0.4s 0.3s;*/
}
.company-thumbnail:hover .filling-line {
    width: 225px;
    display: block;
    /*-webkit-transition: all 0.6s 0.4s;*/
}
/*.company-thumbnail:hover .point-general {*/
    /*display: block;*/
/*}*/
.circle {
    width: 150px;
    height: 150px;
    border-radius: 80px;
    background: #ffffff;
    display: block;
    position: relative;
    border: 3px solid orange;
    margin: auto;
}
/*.company-thumbnail-tra nsform {*/
    /*display: inline;*/
    /*width: 420px;*/
    /*height: 600px;*/
/*}*/
.company-thumbnail:hover {
    transform: scale(1.1, 1.1) ;
    cursor: pointer;
    transition: all 1s;
}
.first-company-txt {
    font-family: "Arial Black";
    font-size: 28px;
    color: rgb(242, 159, 65);
    display: block;
    padding-top: 50px;
}
.second-company-txt {

    padding: 5px 15px;
    text-align: justify;
    font-size: 13px;
    margin: auto;
    font-family: Verdana;
    color: #000;
}
.text-section {
    width: 100%;
    height: 225px;
    display: block;
    /* margin: auto; */
    padding: 20px 10px;
}
.txt-alignment {
    padding: 5px 15px;
    text-align: justify;
    font-size: 14px;
    margin: auto;
    font-family: Verdana;
    color: rgb(83, 88, 95);
}
.services-container {
    width: 100%;
    margin: auto;
    background-image: url("https://cnet4.cbsistatic.com/img/s7OzxR8Y3xxOlegTpRQW3CuZPuk=/830x467/2017/06/06/349b7e65-a855-44f0-ae0a-6610ebca0809/apple-macbook-pro-12-inch-2017-4181.jpg");
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    margin-top: 150px;
}
.services-title {
    width: calc(100% - 7em);
    height: 100px;
    display: block;
    margin: auto;
    margin-left: 7em;
    line-height: 35px;
}
.service-txt {
    font-family: "Arial Black";
    font-size: 35px;
    color: rgb(255, 165, 0);
    display: block;
    padding-top: 20px;
    margin-bottom: 10px;
}
.offer-txt {
    font-family: HelveticaNeue-Light;
    font-size: 20px;
    color: rgb(45, 98, 150);
    margin: 0 4px;
}
.error-msgs{
    font-size: 12px;
    color: red;
    display: none;
    padding-top: 4px;
}

.loader-flora {
    display:inline-block;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #f29f41;
    width: 20px;
    height: 20px;
    margin-left: 1em;
    margin-top: 10px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.services-description {
    width: 1250px;
    height: 420px;
    margin: auto;
    padding-top: 40px;
}
.our-technology section{
    width:100%;
    height: 50%;
}
.about-technology{
    width:90%;
    height:560px;
    margin: auto;
    clear: both;
}
.techo-div{
    width:100%;
    height:calc(100% - 28px);
}

.our-technology .techo-div section img,.our-right-technology section img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    width: 100px;
    height: 100px;
    right: 0;
}
.our-technology{
    width:50%;
    height:100%;
    float: left;
}
.our-right-technology{
    width: 35%;
    float: right;
    height:100%;
}
.our-right-technology section{
    width: 100%;
    height: 50%;
}
.about-technology h5{
    font-family: "Arial Black";
    font-size: 35px;
    color: rgb(242, 159, 65);
    display: block;
    padding-top: 12px;
    margin: 0;
}
.our-technology p,.our-right-technology p{
    color: #2d6296;
    padding-left: 4px;

}

.app-service-section {
    width: 400px;
    height: 500px;
    margin: auto;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.our-technology .techo-div section{
    width: calc(25% - 8px);
    margin: 3px 4px;
    background: #e6570f;
    height: calc(50% - 7px);
    position: relative;
    display: inline-block;
}
.our-right-technology .techo-div section{
    width: calc(33.33% - 8px);
    margin: 3px 4px;
    background: #e6570f;
    height: calc(50% - 7px);
    position: relative;
    display: inline-block;
}
.app-service-wrapper {
    width: 360px;
    height: 385px;
    margin: auto;
    display: block;
    cursor: pointer;
}
.app-service-wrapper.service-text {
    line-height: 150px;
    text-align: center;
}
.service-text {
    margin: 0;
    font-family: Verdana;
    text-align: justify;
    font-size: 13px;
    line-height:17px;
    height: 260px;
}
.svg-info {
    width: 245px;
    height: 200px;
    display: block;
    margin: auto;
    padding-top: 12px;
}
.svg-description {
    font-family: "andalemo";
    text-align: center;
    font-size: 18px;
    width: 270px;
    display: block;
    margin: auto;
    padding-top: 3em;
    line-height: 25px;
}
@-moz-document url-prefix() {
    .card {
        backface-visibility: hidden;
    }
}
.flip-container {
    width: 312px;
    height: 280px;
    cursor: pointer;
    position: relative;
    float: left;
}
.card {
    width: 280px;
    height: 280px;
    /* position: absolute; */
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    display: block;
    margin: auto;
}
.card:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.card .side {
    width: 280px;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 0px;
    position: absolute;
    overflow: hidden;
    background: #fbfbfb;
}
.card .back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    background: #ffd28e;
    padding: 20px;
    font-family: Verdana;
    border: 1px solid lightgray;
    text-align: justify;
    font-size: 15px;
    /*box-shadow: -8px 10px 25px -5px rgba(121, 118, 118, 0.84);*/
}
.svg-container {
    width: 20%;
    background: #F0A9BE;
}
.see-more-txt {
    font-family: andalemo;
    font-size: 15px;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 35px;
}
.team-container {
    width: 100%;
    display: block;
    margin: auto;
    padding-top: 170px;
    height: auto;
    /*overflow: hidden;*/
}
.padding-top-160px{
    padding-top: 120px !important;
}
.team-text {
    width: calc(100% - 7em);
    height: 100px;
    display: block;
    margin: auto;
    margin-left: 7em;
    line-height: 35px;
}
.team-txt {
    font-family: "Arial Black";
    font-size: 45px;
    color: rgb(255, 165, 0);
    display: block;
}
.behind-txt {
    font-family: HelveticaNeue-Light;
    font-size: 18px;
    margin: 0 10px;
    color: rgb(45, 98, 150);
}
.team-photos-section {
    width: 1275px;
    height: 630px;
    padding: 15px;
    margin: auto;
}
.photos-thumbnail:nth-child(1) {
    margin-left: 10%;
}
.photos-thumbnail:nth-child(5) {
    margin-left: 20%;
}
.photos-thumbnail:nth-child(8) {
    margin-left: 10%;
}
.photos-thumbnail:nth-child(12) {
    margin-left: 20%;
}
.team-photos-wrapper {
    width: 1190px;
    height: 585px;
    padding: 15px;
    margin: auto;
}
.photos-thumbnail {
    width: 230px;
    height: auto;
    display: inline-block;
    position: relative;
}
.pic-wrapper {
    bottom: 30px;
}
.pic-wrapper-one {
    bottom: 52px;
}
.pic-wrapper-two {
    bottom: 70px;
}
.photos {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    position: relative;
    transition: 0.3s ease;
    background-size: cover;
    background-repeat: none;
    cursor: pointer;
}
.photo-wrapper {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    margin: auto;
    display: block;
}
.photos-thumbnail .photos:hover{
    transform: scale(1.2, 1.2); /** default is 1, scale it to 1.5 */
opacity: 1;
    filter: none !important;
    z-index: 1;
}
.photos-thumbnail:hover .pic-name {
    display: block;
    background: rgba(0, 0, 0, 0.68);
}
.pic-name {
    font-family: "Helvetica Neue";
    font-size: 15px;
    margin: 0 auto;
    display: none;
    position: absolute;
    bottom: 0;
    color: white;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.motto-container {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.motto-txt-section {
    width: calc(100% - 7em);
    height: 100px;
    display: block;
    margin: auto;
    margin-left: 7em;
    line-height: 35px;
}
.motto-txt {
    font-family: "Arial Black";
    font-size: 35px;
    color: rgb(242, 159, 65);
    display: block;
    padding-top: 12px;
}
.ceo-txt {
    font-family: HelveticaNeue-Light;
    font-size: 18px;
    color: rgb(45, 98, 150);
    /*margin: 0 35px;*/
}
.motto-description {
    width: 1220px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}
.pic-description {
    width: 855px;
    height: 400px;
    display: inline-block;
}
.img-description {
    width: 790px;
    height: 100px;
    font-family: Verdana;
    margin: auto;
    padding-top: 80px;
    text-align: justify;
    font-size: 15px;
    display: block;
}
.talk-bubble {
    display: inline-block;
    position: relative;
    width: 615px;
    height: 100px;
    top: 60px;
    background-color: white;
    left: 14.3em;
}
.border {
    border: 4px solid rgb(242, 164, 147);
}
.round{
    border-radius:  15px;
    -webkit-border-radius:  15px;
    -moz-border-radius:  15px;

}
/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
    content: ' ';
    position: absolute;
    left: auto;
    right: -34px;
    top: -4px;
    border: 30px solid;
    border-color: rgb(242, 164, 147) transparent transparent transparent;
}
.tri-right.right-top:after{
    content: ' ';
    position: absolute;
    left: auto;
    right: -25px;
    top: 0px;
    bottom: auto;
    border: 28px solid;
    border-color: white transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
    padding: 30px;
    text-align: center;
    line-height: 1.5em;
}
.talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.single-quote {
    display: inline-flex !important;
    font-size: 20px !important;
}
.quote {
    font-size: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: "Arial Black";
    color: rgb(242, 159, 65);
    padding: 0 20px;
}
.image-section {
    float: right;
    width: 365px;
    height: 350px;
    padding-top: 5em;
}
.image {
    width: 300px;
    height: 220px;
    background-image: url(../assets/ceo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.ceo-name {
    color: rgb(231, 116, 130);
    font-family: "Arial Black";
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 20px;
}

.company-info-container {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 15px;
    /*background: linear-gradient(to top right, rgb(235, 147, 160), rgba(241, 188, 224, 0.28)30%, rgb(238, 240, 207), rgba(254, 245, 181, 0.76), rgba(255, 236, 115, 0.61) 65%, rgb(250, 220, 151) 70%, rgba(231, 116, 130, 0.36) 76%, rgba(187, 214, 214, 0.68));*/
}
.company-info-heading {
    width: calc(100% - 7em);
    height: 120px;
    margin-left: 7em;
    line-height: 35px;
}
.company-info-section {
    width: 100%;
    height: 770px;
    margin: auto;
    display: block;
}
.company-info-section-wrapper {
    width: 85%;
    height: 100%;
    margin: auto;
    display: block;
    background: white;
    position: relative;
}
.company-info-thumbnail {
    width: 100%;
    height: 250px;
    display: block;
    /*margin: auto;*/
    position: relative;
    margin: 11px auto;
}
.listener-svg {
    width: 25%;
    padding: 2px;
    float: left;
    height: 100%;
    background-image: url("http://rpmconsultancy.com/wp-content/uploads/2017/04/meeting-iStock.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat
}
.right-company-txt {
    width: 75%;
    height: 100%;
    float: right;
    padding: 20px 15px;
}

.company-heading-txt {
    font-size: 18px;
    color: #2d6296;
    font-family: "Arial Black";
    margin: 5px;
}
.sub-company-heading-txt {
    font-size: 13px;
    padding: 0 5px;
    color: rgb(83, 88, 95);
    font-family: Verdana;
    text-align: justify;
    display: block;
}
.left-company-txt {
    clear: both;
    width: 75%;
    float: left;
    padding: 20px 0;
}
.deliver-svg {
    width: 25%;
     float: right;
    height: 100%;
    background-image: url("http://www.mangalamtours.com/image/corporate/sub/1505540593Meetings%201.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 50px;
}
/*.deliver-svg {*/
    /*width: 14%;*/
    /*!* float: right; *!*/
    /*transform: rotate(115deg);*/
    /*position: absolute;*/
    /*right: 35px;*/
/*}*/
.contact-container {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 155px;

    position: relative;
    /*background
    : linear-gradient(to bottom left, rgba(255, 192, 203, 0.6509803921568628), rgba(255, 165, 0, 0.4392156862745098) 40%, rgb(249, 241, 195) 70%, rgba(255, 192, 203, 0.71) 75%);*/
}
.innovation-svg {
    width: 25%;
    float: left;
    /*transform: rotate(50deg);*/
    /*position: absolute;*/
    height: 100%;
    background-image: url("https://blog.gotomeeting.com/wp-content/uploads/sites/8/2018/02/stand-up-meeting.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat
}
.built-svg {
    width: 25%;
    height: 100%;
    float: left;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCDaash0njTtBkq0FgYOP756JfxbfB7_8ihvcPLFR3PqCnTZwF");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat
}
.bloom-svg {
    width: 7%;
    float: left;
    transform: rotate(-8deg);
    margin-left: 6em;
    position: absolute;
    top: 10px;
}
.social-media-wrapper .social-media-icons i:hover.facebook{
    background:  #3B5998 ;
}
.social-media-wrapper .social-media-icons i:hover.linkin{
    background:#0077B5;
}
.social-media-wrapper .social-media-icons i:hover.twit{
    background: #2196F3;
}
.social-media-wrapper .social-media-icons i:hover.insta{
    background:  linear-gradient( #8a3ab9, #4c68d7, #cd486b, #fbad50,#fccc63,#bc2a8d,#e95950);
}
.social-media-wrapper .social-media-icons i:hover.youtube{
    background:#FF0000;
;
}
.contact-section {
    width: 95%;
    height: 510px;
    margin: auto;
    display: block;
    box-shadow: 1px 3px 16px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
}
.contact-heading {
    width: calc(100% - 5em);
    height: 135px;
    margin-left: 5em;
    padding: 10px;
    padding-top: 25px;
}

.contact-heading-txt {
    font-size: 32px;
    font-family: "Arial Black";
    color: #F29F41;
    display: block;
    width: 54%;
    margin: 0 32px;
}
.contact-heading-txt-second {
    font-size: 17px;
    font-family: HelveticaNeue-Light;
    color: rgb(45, 98, 150);
    margin: 0 35px;
}
.contact-us-section {
    width: 100%;
    height: 320px;
}
.contact-wrapper {
    width: 85%;
    height: 120px;
    margin: auto;
    display: block;
    padding: 10px;
}
.contact-us-left-section {
    width: 15%;
    float: left;
    display: block;
    text-align: center;
}
.left-contact-txt {
    font-size: 18px;
    color: #F29F41;
    display: block;
    margin: 0 10px;
    font-family: "Arial Black";

}
.contact-us-right-section {
    width: 80%;
    float: right;
    margin: auto;
}
.input-data {
    width: 550px;
    padding: 5px;
    font-size: 15px;
    resize: none;
    font-family: "Helvetica Neue";
}
.input-height {
    height: 80px;
}
.insert-txt {
    font-size: 12px;
    font-family: "Helvetica Neue";
    color: rgb(83, 88, 95);
    display: block;
    margin: 0 15px;
}
.fa-size {
    font-size: 28px !important;
}
.social-media-connect {
    width: 25%;
    height: 165px;
    box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.4);
    bottom: 25px;
    /*background: linear-gradient(to top right, rgba(204, 0, 255, 0.31) 26%, rgb(255, 192, 203) 34%, rgba(238, 205, 43, 0.65) 65%, rgba(252, 183, 55, 0.79) 80%);*/
    position: absolute;
    right: 12px;
    background: #ffffff;
}
.social-media-wrapper {
    overflow: auto;
    display: block;
    text-align: center;
    margin: 25px auto;
}
.social-media-wrapper .social-media-icons {
    overflow: auto;
    padding-right: 30px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}
.company-thumbnail:hover .circle {
    background: orange;
    border: 3px solid white;
}
.company-thumbnail:hover .first-company-txt {
    color: white;
}
.social-media-wrapper .social-media-icons i {
    background: rgb(83, 88, 95);
    color: #fff;
    width: 50px;
    height: 40px;
    border-radius: 50px;
    font-size: 25px;
    margin-right: 10px;
    padding-top: 15%;
    cursor: pointer;
}

.footer-info{
    display: inline-block;
    width: 50%;
    font-size: 10px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
}
.float-left{
    float: left;
}
.float-right {
    float: right;
}
.dropdown{
    display: inline-block;
    position: relative;
    float: right;
    margin: 14px 0;
    padding-right: 25px;
}
.font-color {
    font-size:30px;
    color: black;
}
.dropdown-content {
    position: absolute;
    background-color: #ffffff;
    width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    padding: 5px;
    z-index: 1;
    top: 30px;
    display: none;
    list-style-type: none;
    font-size: 13px;
    font-family: "andalemo";
    margin: 0;
    text-align: center;
}
.dropdown:hover .dropdown-content{
    display: block;
    right: 0;
}
.dropdown-content li{
    height: 30px;
    line-height: 30px;
}
.dropdown-content a {
    text-decoration: none;
    color: black;
}
.mobile-nav{
    display: none;
}
.desktop-nav{
    display: block;
}
.menu-font-size {
    font-size: 22px !important;
}
.send-bttn {
    width: 10%;
    height: 12%;
    /*margin: 10px auto;*/
    display: block;
    /*border-radius: 5px;*/
    outline: none;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin: 5px;
    padding: 3px 13px;
    text-align: center;
    vertical-align: middle;
}
.send-bttn:hover {
    background-color: #f29f5c;
    color: #FFF;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #f39f41;
}
.error-msg-section {
    width: 65%;
    height: 30px;
    line-height: 30px;
    display: block;
    clear: both;
    overflow: hidden;
    float: left;
}
.error-msg {
    font-size: 12px;
    color: red;
}
.loader-color{
    color:#000;
    margin: 10px 20px;
}
.send-btn-flex{
    display: flex;
    justify-content: center;
    width: 100%;
}
@media all and (min-width: 1025px) and (max-width: 2500px){
    .mobile-nav{
        display: none;
    }
    .desktop-nav{
        display: block;
    }
}
/* iPad Portrait */
@media only screen and (min-device-width: 768px)and (max-device-width: 1024px)and (orientation: portrait)and (-webkit-min-device-pixel-ratio: 1) {
    #video-container {
        height: 435px;
    }
    .introduction-text {
        left: 8%;
    }
    .first-heading {
        margin: 0 8px;
    }
    .menu-list span {
        padding: 5px 10px;
        font-size: 16px;
    }
    .company-details-section {
        height: 570px;
    }
    .filling-line {
        left: 190px;
        top: 90px;
    }
    .point-general {
        left: 250px;
        top: 82px;
    }
    .company-thumbnail {
        width: 255px;
        height: 570px;
        padding: 5px;
    }
    .circle {
        width: 135px;
        height: 135px;
    }
    .services-title {
        width: calc(100% - 5em);
        margin-left: 5em;
    }
    .text-section {
        width: 250px;
        height: 320px;
    }
    .txt-alignment {
        padding: 5px;
    }
    .filling-line-1 {
        top: 90px;
        left: 430px;
    }
    .point-general-1 {
        left: 500px;
        top: 82px;
    }
    .team-photos-section {
        width: 770px;
        height: 625px;
        padding: 5px;
    }
    .team-photos-wrapper {
        width: 760px;
        height: 595px;
        margin: 0;
        padding: 5px;
    }
    .team-text {
        width: calc(100% - 5em);
        margin-left: 5em;
    }
    .company-info-heading {
        width: calc(100% - 5em);
        margin-left: 5em;
    }
    .team-txt {
         font-size: 40px;
    }
    .photos-thumbnail {
        width:  172px;
    }
    .photos {
        width: 140px;
    }
    .pic-wrapper {
        bottom: 20px;
    }
    .pic-name {
        width: 140px;
        height: 30px;
        line-height: 30px;
    }
    .pic-wrapper-one {
        bottom: 42px;
    }
    .pic-wrapper-two {
        bottom: 62px;
    }
    .photos-thumbnail:nth-child(1) {
        margin-left: 0%;
    }
    .photos-thumbnail:nth-child(5) {
        margin-left: 12%;
    }
    .photos-thumbnail:nth-child(8) {
        margin-left: 0;
    }
    .photos-thumbnail:nth-child(12) {
        margin-left: 8%;
    }
    .motto-txt-section {
        width: calc(100% - 5em);
        margin-left: 5em;
    }
    .motto-description {
        width: 735px;
    }
    .pic-description {
        width: 480px;
        height: 400px;
    }
    .img-description {
        width: 420px;
        height: 160px;
        padding-top: 50px;
    }
    .talk-bubble {
        width: 455px;
        height: 100px;
        top: 50px;
        left: 1em;
    }
    .image-section {
        width: 220px;
        padding-top: 50px;
    }
    .image {
        width: 200px;
        height: 225px;
        background-position: 50% 50%;
    }
    .services-description {
        width: 1120px;
        height: 865px;
    }
    .flip-container {
        width: 380px;
        height: 420px;
    }
    .card {
        width: 280px;
        height: 375px;
    }
    .card .side {
        width: 280px;
    }
    .card .back {
        padding: 15px;
        font-size: 10px;
    }
    .service-text {
        height: 290px;
        font-size: 14px;
    }
    .see-more-txt {
        font-size: 14px;
        padding-top: 15px;
    }
    .svg-info {
        width: 200px;
    }
    .svg-description {
        /*font-size: 16px;*/
        width: 200px;
        padding-top: 2em;
    }
    .listener-svg {
        width: 20%;
        bottom: 18px;
        left: 5px;
    }
    .deliver-svg {
        width: 18%;
        right: 10px;
        bottom: 30px;
    }
    .innovation-svg {
        width: 17%;
        bottom: 15px;
        left: -40px;
    }
    .built-svg {
        width: 15%;
        right: 22px;
        top: 15px;
    }
    .bloom-svg {
        width: 12%;
        top: 40px;
        left: -60px;
    }
    .left-contact-txt {
        font-size: 16px;
    }
    .contact-us-left-section {
        width: 20%;
    }
    .input-data {
        width: 440px;
    }
    .social-media-connect {
        width: 215px;
        height: 150px;
        bottom: 0;
        right: 14px;
    }
    .contact-wrapper {
        margin-top: 10px;
        width: 100%;
        height: 110px;
    }
    .contact-heading {
        height: 124px;
        width: calc(100% - 3em);
        margin-left: 3em;
    }
    .input-height {
        height: 68px;
    }
    .social-media-wrapper {
        padding-left: 18px;
        margin: 0;
        margin-top: 18px;
    }
    .contact-us-right-section {
        width: 74%;
    }
    .social-media-wrapper .social-media-icons {
        padding-right: 12px;
        margin-bottom: 12px;
    }
    .social-media-wrapper .social-media-icons i {
        width: 48px;
        margin-right: 0;
    }
}
/* end iPad Portrait */
/* iPad Landscape */
@media only screen and (min-device-width: 768px)and (max-device-width: 1024px)and (orientation: landscape)and (-webkit-min-device-pixel-ratio: 1) {
    .introduction-text {
        left: 10%;
        top: 35%;
    }
    .first-heading {
        margin: 0 10px;
    }
    #video-container {
        height: 565px;
    }
    .company-thumbnail {
        width: 340px;
    }
    .filling-line {
        left: 235px;
    }
    .point-general {
        left: 332px;
    }
    .filling-line-1 {
        left: 585px;
    }
    .point-general-1 {
        left: 675px;
    }
    .txt-alignment {
        font-size: 13px;
    }
    .flip-container {
        width: 255px;
    }
    .card {
        width: 235px;
        height: 375px;
    }
    .card .side {
        width: 235px;
        padding: 15px;
    }
    .services-title, .team-text, .motto-txt-section, .company-info-heading {
        margin-left: 5em;
        width: calc(100% - 5em);
    }
    .service-text {
        height: 275px;
    }
    .services-description {
        height: 450px;
    }
    .see-more-txt {
        padding-top: 40px;
    }
    .svg-info {
        width: 200px;
        padding-top: 20px;
    }
    .svg-description {
        width: 235px;
    }
    .team-photos-section {
        width: 1025px;
        padding: 10px;
    }
    .photos-thumbnail {
        width: 210px;
    }
    .team-photos-wrapper {
        width: 1005px;
        padding: 5px;
    }
    .photos-thumbnail:nth-child(1) {
        margin-left: 4%;
    }
    .photos-thumbnail:nth-child(5) {
        margin-left: 14%;
    }
    .photos-thumbnail:nth-child(8) {
        margin-left: 3%;
    }
    .photos-thumbnail:nth-child(12) {
        margin-left: 13%;
    }
    .pic-name {
        top: 120px;
        height: 30px;
        line-height: 30px;
    }
    .motto-description {
        width: 1000px;
    }
    .pic-description {
        width: 620px;
    }
    .img-description {
        width: 555px;
        font-size: 13px;
    }
    .talk-bubble {
        top: 90px;
        left: 2em;
        width: 605px;
    }
    .image {
        width: 275px;
    }
    .contact-wrapper {
        width: 85%;
        margin-top: 5px;
    }
    .input-height {
        height: 65px;
    }
    .input-data {
        width: 550px;
        font-size: 14px;
    }
    .contact-heading {
        height: 125px;
        width: calc(100% - 4em);
        margin-left: 4em;
    }
    .contact-us-right-section {
        width: 75%;
    }
    .social-media-connect {
        height: 150px;
        bottom: 15px;
    }
    .social-media-wrapper {
        padding-left: 25px;
        margin: 0;
        margin-top: 15px;
    }
    .social-media-wrapper .social-media-icons {
        padding-right: 8px;
        margin-bottom: 15px;
    }
    .listener-svg {
        bottom: 25px;
    }
    .innovation-svg {
        bottom: 30px;
    }
    .built-svg {
        top: 20px;
    }
    .bloom-svg {
        top: 25px;
        left: -20px;
    }
}
/* end iPad Landscape */

@media all and (min-width: 767px) and (max-width: 2500px){
    .mobile-nav{
        display: none;
    }
    .desktop-nav{
        display: block;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px){
    .mobile-nav{
        display: block;
    }
    .desktop-nav{
        display: none;
    }
}
/*end media query for header in mobile and desktop view in portrait*/


/* phone Portrait */
@media only screen and (min-device-width: 320px)and (max-device-width: 736px)and (-webkit-min-device-pixel-ratio: 2)and (orientation: portrait) {
    #video-container {
        height: 225px;
    }
    .first-heading {
        margin: 0 5px;
    }
    .grow-heading {
        font-size: 25px;
    }
    .menu-bar {
        height: 25px;
    }
    .menu-list span {
        padding: 5px;
        font-size: 7px;
    }
    .introduction-text {
        top: 35%;
    }
    .company-details-section {
        width: 380px;
        height: 1340px;
    }
    .filling-line {
        display: none;
    }
    .point-general {
        display: none;
    }
    .filling-line-1 {
        display: none;
    }
    .point-general-1 {
        display: none;
    }
    .company-thumbnail {
        width: 375px;
        height: 440px;
        display: block;
        float: none;
    }
    .text-section {
        height: 230px;
    }
    .services-description {
        width: 375px;
        height: 1500px;
    }
    @keyframes blink {
        0% {
            width: 0;
        }
        100% {
            width: 145px;
        }
    }
    .flip-container {
        width: 365px;
        height: 365px;
    }
    .card {
        height: 380px;
    }
    .card .side {
        height: 335px;
    }
    .service-text {
        height: 245px;
    }
    .see-more-txt {
        padding-top: 25px;
    }
    .team-text {
        width: calc(100% - 9em);
        margin-left: 9em;
    }
    .team-photos-section {
        width: 375px;
        height: 1400px;
        padding: 0;
    }
    .team-photos-wrapper {
        width: 375px;
        height: 1380px;
        padding: 10px;
    }
    .photos-thumbnail {
        width: 175px;
        height: 175px;
    }
    .pic-name {
        font-size: 14px;
        width: 135px;
        height: 30px;
        line-height: 30px;
    }
    .photos-thumbnail:nth-child(1) {
        margin-left: 0;
    }
    .photos-thumbnail:nth-child(5) {
        margin-left: 0;
    }
    .pic-wrapper {
        bottom: 0;
    }
    .photos-thumbnail:nth-child(8) {
        margin-left: 0;
    }
    .pic-wrapper-one {
        bottom: 0;
    }
    .photos-thumbnail:nth-child(12) {
        margin-left: 0;
    }
    .pic-wrapper-two {
        bottom: 0;
    }
    .photos {
        width: 135px;
        height: 135px;
    }
    .motto-txt-section {
        width: calc(100% - 9em);
        margin-left: 9em;
    }
    .motto-description {
        width: 365px;
        height: 610px;
    }
    .img-description {
        width: 330px;
        height: 140px;
        padding-top: 30px;
        font-size: 12px;
    }
    .talk-bubble {
        width: 320px;
        height: 100px;
        top: 25px;
        left: 1em;
    }
    .ceo-txt {
        font-size: 16px;
        margin: 0 12px;
    }
    .motto-txt {
        font-size: 30px;
    }
    .company-info-heading {
        width: calc(100% - 4em);
        height: 100px;
        margin-left: 4em;
    }
    .tri-right.border.right-top:before {
        right: 38px;
        top: 93px;
    }
    .tri-right.right-top:after {
        right: 40px;
        top: 89px;
    }
    .pic-description {
        width: 365px;
        height: 330px;
    }
    .quote {
        font-size: 14px;
        padding: 0 10px;
    }
    .talktext {
        padding: 32px;
    }
    .image-section {
        height: 275px;
        padding-top:0;
    }
    .image {
        width: 290px;
        height: 205px;
    }
    .company-info-thumbnail {
        width: 100%;
        height: 135px;
    }
    .company-heading-txt {
        font-size: 11px;
        margin: 10px 0;
    }
    .sub-company-heading-txt {
        font-size: 10px;
        padding: 0;
    }
    .listener-svg {
        width: 22%;
        bottom: 30px;
        left: 0;
    }
    .right-company-txt {
        width: 80%;
        padding: 20px 20px 20px 20px;
    }
    .left-company-txt {
        padding: 10px 20px;
    }
    .deliver-svg {
        width: 20%;
        right: -5px;
        bottom: 45px;
    }
    .innovation-svg {
        width: 17%;
        left: -45px;
        bottom: 36px;
    }
    .built-svg {
        width: 15%;
        top: 35px;
        right: 8px;
    }
    .bloom-svg {
        width: 12%;
        top: 45px;
        left: -75px;
    }
    .company-info-section {
        height: 690px;
    }
    .contact-section {
        width: 92%;
    }
    .contact-heading {
        width: calc(100% - 6em);
        height: 120px;
        margin-left: 6em;
    }
    .contact-heading-txt {
        font-size: 30px;
    }
    .contact-heading-txt-second {
        font-size: 15px;
    }
    .contact-us-left-section {
        width: 25%;
        height: 30px;
        line-height: 30px;
    }
    .contact-wrapper {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        height: 100px;
    }
    .contact-us-right-section {
        width: 70%;
        float: right;
        margin: 0 5px;
    }
    .left-contact-txt {
        font-size: 12px;
    }
    .input-data {
      width: 215px;
        font-size: 10px;
    }
    .input-height {
        height: 64px;
    }
    .insert-txt {
        font-size: 10px;
        margin: 6px 30px;
    }
    .send-bttn {
        width: 25%;
    }
    .social-media-connect {
        width: 50%;
        height: 130px;
        bottom: 25px;
        right: 10px;
    }
    .social-media-wrapper {
        margin: 0;
        padding-left: 25px;
        margin-top: 18px;
    }
    .social-media-wrapper .social-media-icons {
        padding-right: 15px;
    }
    .social-media-wrapper .social-media-icons i {
        width: 40px;
        height: 35px;
        border-radius: 50px;
        font-size: 25px;
        margin-right: 5px;
    }
    .footer-info {
        font-size: 8px;
        padding: 0 12px;
    }
}
/* end phone Portrait */
/* phone Landscape */
@media only screen and (min-device-width: 320px)and (max-device-width: 736px)and (-webkit-min-device-pixel-ratio: 2)and (orientation: landscape) {
    #video-container {
        height: 435px;
    }
    .first-heading {
        font-size: 3vw;
        margin: 0 10px;
    }
    .menu-list span {
        font-size: 12px;
        padding: 7px 10px;
    }
    @keyframes blink {
        0% {
            width: 0;
        }
        100% {
            width: 258px;
        }
    }
    .grow-heading {
        font-size: 6vw;
    }
    .header-options-span {
        margin: 0px 12px;
        font-size: 14px;
    }
    .company-details-section {
        width: 950px;
        height: 460px;
    }
    .company-thumbnail {
        width: 736px;
        height: 155px;
        padding: 10px;
    }
    .circle-section {
        height: 135px;
        width: 155px;
        float: left;
        padding: 10px;
    }
    .circle {
        width: 110px;
        height: 110px;
    }
    .first-company-txt {
        font-size: 20px;
        padding-top: 20px;
    }
    .second-company-txt {
        font-size: 12px;
        padding: 5px;
    }
    .services-description {
        width: 670px;
        height: 680px;
    }
    .text-section {
        height: 135px;
        padding: 10px 25px 10px 15px;
        float: right;
        width: calc(100% - 155px);
    }
    .filling-line {
        display: none;
    }
    .point-general {
        display: none;
    }
    .filling-line-1 {
        display: none;
    }
    .point-general-1 {
        display: none;
    }
    .services-title, .team-text, .motto-txt-section, .motto-txt-section, .company-info-heading  {
        width: calc(100% - 5em);
        margin-left: 5em;
    }
    .txt-alignment {
        padding: 15px 5px;
        font-size: 12px;
    }
    .flip-container {
        width: 330px;
        height: 315px;
    }
    .card {
        width: 260px;
        height: 280px;
    }
    .card .side {
        height: 280px;
        width: 260px;
    }
    .svg-info {
        width: 220px;
    }
    .svg-description {
        font-size: 16px;
        width: 175px;
        padding-top: 22px;
    }
    .card .back {
        padding: 15px;
        font-size: 10px;
    }
    .service-text {
        height: 215px;
        font-size: 12px;
    }
    .see-more-txt {
        font-size: 12px;
        padding-top: 15px;
    }
    .team-photos-section {
        width: 695px;
        height: 510px;
        padding: 0;
    }
    .team-photos-wrapper {
        width: 700px;
        height: auto;
        margin: 0;
        padding: 10px 5px;
    }
    .photos-thumbnail:nth-child(1) {
        margin-left: 10px;
    }
    .photos-thumbnail {
        width: 150px;
    }
    .photos {
        width: 125px;
        height: 125px;
    }
    .photos-thumbnail:nth-child(5) {
        margin-left: 14%;
    }
    .pic-wrapper {
        bottom: 20px;
    }
    .photos-thumbnail:nth-child(8) {
        margin-left: 5px;
    }
    .pic-wrapper-one {
        bottom: 40px;
    }
    .photos-thumbnail:nth-child(12) {
        margin-left: 11%;
    }
    .pic-wrapper-two {
        bottom: 60px;
    }
    .pic-name {
        font-size: 13px;
        width: 125px;
        height: 30px;
        line-height: 30px;
    }
    .motto-description {
        height: 350px;
    }
    .pic-description {
        width: 390px;
        height: 345px;
        float: left;
    }
    .img-description {
        width: 337px;
        height: 150px;
        padding-top: 45px;
        font-size: 12px;
    }
    .talk-bubble {
        width: 330px;
        height: 75px;
        top: 38px;
        left: 2em;
    }
    .image-section {
        padding-top: 45px;
        float: left;
    }
    .talktext {
        padding: 22px;
    }
    .image-section {
        width: 330px;
    }
    .single-quote {
        font-size: 15px !important;
    }
    .quote {
        font-size: 15px;
    }
    .company-info-section-wrapper {
        width: 95%;
    }
    .listener-svg {
        bottom: 35px;
        left: 20px;
    }
    .right-company-txt {
        padding: 20px;
    }
    .deliver-svg {
        right: -10px;
        bottom: 20px;
    }
    .innovation-svg {
        bottom: 40px;
        left: -25px;
    }
    .built-svg {
        width: 12%;
        top: 35px;
        right: 15px;
    }
    .left-company-txt {
        padding: 20px 20px 20px 30px;
    }
    .bloom-svg {
        width: 10%;
        top: 35px;
        left: -60px;
    }
    .company-info-thumbnail {
        width: 90%;
    }
    .contact-heading {
        height: 125px;
        width: calc(100% - 3em);
        margin-left: 3em;
    }
    .contact-wrapper {
        width: 100%;
        padding: 8px 30px;
    }
    .contact-us-right-section {
        padding: 0 22px;
    }
    .contact-us-section {
        width: 100%;
    }
    .left-contact-txt {
        font-size: 15px;
    }
    .input-data {
        width: 465px;
    }
    .social-media-connect {
        width: 225px;
        height: 135px;
        bottom: 0px;
        right: 5px;
    }
    .social-media-wrapper {
        padding-left: 25px;
        margin: 0;
        margin-top: 20px;
    }
    .social-media-wrapper .social-media-icons {
        padding-right: 10px;
    }
    .social-media-wrapper .social-media-icons i {
        width: 46px;
        height: 33px;
        margin-right: 5px;
        padding-top: 11px;
    }
    .fa-size {
        font-size: 20px !important;
    }
}
.second-svg{
    display: none;
    position: absolute;
    top: 19%;
    bottom: 0;
    margin: auto;
    height: 75%;
    width: 100%;
    left: 0;
    right: 0;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}
#app .header-section.header-background {
    background: #fff;
    height: 100px;
    position: fixed;
    top:0;
    box-shadow: 2px 2px 2px 2px #cdcdcd;
}
.third-svg {
    position: absolute;
    top: 19%;
    bottom: 0;
    margin: auto;
    height: 75%;
    width: 100%;
    left: 0;
    right: 0;
}
#team .header-section{
    background: #fff;
    height: 100px;
    position: fixed;
    z-index: 11111;
    top: 0;
    box-shadow: 2px 2px 2px 2px #cdcdcd;
}
.flo-st0{fill:#183C47;}
.flo-st1{enable-background:new    ;}
.flo-st2{fill:#DE5B38;}
.flo-st3{fill:#133346;}
.flo-st4{fill:#E6570F;}
.flo-st5{fill:#1C3650;}


/* CSS Document */
html,body{
    margin:0;
    padding:0;
    height:100%;
}
.puzzle-body{
    width: 67%;
    height: 80%;
    margin: auto;
}
.jigsaw1{
    width: calc(50% - 100px);
    height: calc(100% - 100px);
    margin: 50px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 111;
    left:0;
    transition:left 2s linear;
}
.jigsaw2 {
    width: calc(50% - 100px);
    height: calc(100% - 100px);
    margin: 50px;
    z-index: 1;
    right:0;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition:right 2s linear;
}
.jigsaw3,.jigsaw4 {
    width: 50%;
    height: 75%;
    position: relative;
    -webkit-border-radius: .5em;
    display: inline-block;
    -moz-border-radius: .5em;
    border-radius: 0;
    cursor: pointer;
    float: left;
}

.jigsaw3,
.jigsaw3 span {
    background-color: #00008B;
}
.jigsaw4,
.jigsaw4 span {
    background-color: #00008B;
}

.jigsaw1,
.jigsaw1 span {
    background-color: #0284cf;
}

.jigsaw2,
.jigsaw2 span {
    background-color: #E91E63;
}
.puzzle-body:hover .jigsaw1{
    left: 54px;
    z-index: 111;
}
.puzzle-body:hover .jigsaw2{
    right: 54px;
}
.puzzle-body:hover .jig1{
    position: relative;
    top: -120px;
    z-index: 0;
}


.text {
    display: block;
    color: #fff;
    font-size: 1.1em;

    text-align: center;
    padding: 7px;
    position: relative;
    background: transparent !important;
}
.vission-name{
    width: 73%;
    font-size: 16px;
    margin: auto;
    position: absolute;
    top: 0;
    height: 100%;
    left: 6%;
    right: 0;
    color: #fff;
}
.vision-name{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 5%;
    right: 0;
    height: 70%;
    width: 68%;
    color: #fff;
}
.vission-name p,.vision-name p{
    margin:0;
}
.text2 {
    position: absolute;
    left: 90%;
    margin: auto;
    z-index: 1;
    display: block;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    padding: 7px;
    background: transparent !important;
}
.text1 {
    display: block;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    padding: 7px;
    position: relative;
    background: transparent !important;
}
.jigsaw1 .t {
    width: 4em;
    height: 4em;
    position: absolute;
    top: -3.3em;
    left: 42%;
    border-radius: 4em;
}
.jigsaw2 .t {
    width: 3.9em;
    background-color: #fff;
    height: 3.6em;
    position: absolute;
    top: 39.5%;
    left: -1em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
}

.jigsaw1 .r, .jigsaw2 .r {
    width: 4em;
    height: 4em;
    position: absolute;
    top: 38%;
    left: 95%;
    z-index: 111;

    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
}

.jigsaw1 .b, .jigsaw2 .b {
    width: 4em;
    height: 4em;
    position: absolute;
    top: 92%;
    left: 36%;

    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    z-index:111;
}
.jig{
    width: 100%;
    margin: auto;
    height: 50%;
}
.jig1{
    top: 0;
    transition: top 2s linear;
    width: 76.8%;
    position: relative;
    margin: 70px auto;
    height: 50%;
}

.jigsaw1 .l, .jigsaw2 .l {
    width: 4em;
    height: 4em;
    position: absolute;
    top: 39%;
    left: -.4em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    background-color: #fff;
}


.jigsaw3 .t {
    width: 3.6em;
    height: 3.6em;
    position: absolute;
    background: #fff;
    top: -0.75em;
    left: 37%;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
}
.jigsaw4 .t {
    width: 3.6em;
    height: 3.6em;
    position: absolute;
    background: #fff;
    top: -0.75em;
    left: 37%;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
}

.jigsaw3 .r, .jigsaw4 .r {
    width: 4em;
    height: 4em;
    position: absolute;
    top: 39%;
    right: -3em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
}

.jigsaw3 .b, .jigsaw4 .b {
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    top: 5.5em;
    left: 2.2em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    background-color: #00008b;
}

.jigsaw3 .l, .jigsaw4 .l {
    width: 4em;
    height: 4em;
    position: absolute;
    top: 39%;
    left: -3em;

    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    background-color: #00008b;
}

/* end phone Landscape */
